body {
  font-family: 'Qwitcher Grypen', cursive;
}

.container {
  display: grid;
  grid-template-areas:
    "head head head head"
    "aside main main main"
    "aside footer footer footer";
  grid-template-rows: 70px 500px 100px;
  grid-template-columns: 120px 3fr 1.8fr 2fr;
}

.vessel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(136, 36, 36);
}

.vessel-v1 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.home {
  margin: 5px 0 5px 0;
  letter-spacing: 2.5px;
}

hr {
  border-width: 0 5px 0 5px;
  height: 5px;
  background-color: red;
}

.set-up {
  width: 270px;
  display: inline-block;
  vertical-align: top;
}

.profile {
  border-radius: 50px;
}

div>a>P {
  margin: 0;
  padding: 8px;
}

div>a>img {
  border-radius: 5px;
}

.vessel-v2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/*header {
  grid-area: head;
  text-align: center;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}

.svg-4 {
  align-self: self-start;
  height: 50px;
  padding: 10px 6px 8px 0;
}

.head {
  margin: 0;
}

.sv1 {
  padding: 0;
  border-radius: 7px;
  height: 20px;
  font-size: large;
  font-family: 'Roboto Condensed', sans-serif;
  width: 140px;
  text-align: center;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.svg-1 {
  margin: 5px 58px 5px 3px;
}

.svg-2 {
  margin: 5px 58px 5px 3px;
}

.svg-3 {
  margin: 5px 10px 5px 3px;
}


footer {
  display: flex;
  justify-content: space-between;
 } */